<header class="header">
    <section class="first">
        <h1 class="logo" routerLink="/list-products">
            <span>T</span>
            <span>stock</span>
        </h1>
    </section>

    <section class="second">
        <section class="contain-cart">
            <fa-icon [icon]="icons.faCartShopping" class="icon-cart"></fa-icon>
            <div class="total-cart">{{totalCart}}</div>
        </section>

        @if (userService.userData) {
        <section class="badge" (click)="showMenuChange()">
            <div class="icon">{{userService.userData.name[0]}}</div>

            <fa-icon [icon]="icons.faChevronDown" class="icon-down"></fa-icon>

            @if (showMenu) {
            <div class="menu" @verticalFade>
                <section class="item" (click)="logout()">
                    <span>Salir</span>

                    <fa-icon [icon]="icons.faRightFromBracket" class="icon-exti"></fa-icon>
                </section>
            </div>
            }
        </section>
        } @else if(!userService.userData && !hideLoggedIn){
        <button class="btn btn-primary" routerLink="/login">Iniciar sesión</button>
        }
    </section>
</header>