.card-product {
    margin: 0 0 40px;
    box-shadow: var(--shadow-card);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 15px;
    gap: 30px;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;

    .img-product {
        width: 180px;
        height: 180px;
        border-radius: 15px;
    }

    .contain-info {
        .title-product {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
            color: var(--color-dark-text);
        }

        .item-info {
            color: var(--color-medium1-text);
            font-size: 11px;
            font-weight: 400;
            margin: 6px 0px;

            .description {
                font-weight: 500;
                color: var(--color-dark-text);
            }

            .icon-star {
                margin: 0 2px;
                color: var(--color-orange);
            }

            .total {
                font-size: 13px;
                font-weight: 300;
                margin: 6px 0;
                color: var(--color-medium1-text);
                margin-left: 6px;
            }
        }

        .wrong-info {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 30px;

            .price {
                color: var(--color-primary);
                font-size: 20px;
                font-weight: 600;
            }
        }

        .btn-primary {
            width: 50px;
            padding: 0;
            height: 50px;
        }
    }

    .contain-favorite {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        border: 1px solid var(--color-medium2-text);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: var(--color-medium2-text);
        font-size: 18px;
        transition: color 0.3s ease;

        &.active {
            color: var(--color-primary);
            animation: scale-down-center 0.3s;
        }

        @keyframes scale-down-center {
            0% {
                transform: scale(1)
            }

            100% {
                transform: scale(.1)
            }
        }
    }
}