.login {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    margin-top: 80px;

    .segment {
        margin: auto;
    }

    .form-contain {
        width: 500px;
        max-width: 90%;
        margin: auto;
        margin-top: 50px;
        text-align: -webkit-center;

        .btn {
            margin-top: 50px;
        }
    }

    .contain-spinner {
        margin: auto;
        transform: rotate(62deg);
        width: fit-content;
        animation: spin 2s linear infinite;
    }

    .icon-spinner {
        font-size: 30px;
        color: var(--color-primary);
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}