<div class="login">
    <div class="segment">
        @for (item of listSegment; track $index) {
        <h5 class="item-segment" [class.active]="selectedSegment === item.id" (click)="selectSegment(item.id)">
            {{item.name}}
        </h5>
        }
    </div>

    <div class="form-contain">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            @if (selectedSegment === 2) {
            <input type="text" class="input-style" placeholder="Mi nombre..." formControlName="name">
            }
            <input type="email" class="input-style" placeholder="stock@mail.com" formControlName="email">
            <input type="password" class="input-style" placeholder="12345678" formControlName="password">
            @if (selectedSegment === 2) {
            <input type="password" class="input-style" placeholder="12345678" formControlName="password_confirmation">
            }

            @if (loadInit) {
            <div class="contain-spinner">
                <fa-icon [icon]="icons.faSpinner" class="icon-spinner"></fa-icon>
            </div>
            } @else {
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"
                [class.disabled]="!loginForm.valid">Enviar</button>
            }
        </form>
    </div>
</div>