:root {
    --color-primary: #5ba186;
    --color-primary-light: #5ba18617;
    --color-secondary: #9a3f3e;
    --color-dark-text: #1E1E1E;
    --color-medium1-text: #707070;
    --color-medium2-text: #C6C6C6;
    --color-light-text: #F4F7FB;
    --color-white: #fcfcfc;
    --color-white-pure: #FFFFFF;
    --color-orange: #ff8c4b;
    --shadow-card: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
}